# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# Artifacts
bin/
obj/
artifacts/
.deps/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json

# Miscellaneous
*.user
*.VC.db
*.VC.opendb
*.suo
*.obj
*.pdb
*.ilk
*.idb
*.tlog/
*.log
*.tmp
*.cache
*.aps
